@import "reset.scss";
@import "fonts.scss";

$contentSize: 768px;
$hrefColor: #435993;
$hrefActiveColor: #1c1c1c;

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #c8c8c8;

@mixin flex($alignVertical, $alignHorizontal, $direction: row) {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: $alignHorizontal;
  -ms-flex-pack: start;
  justify-content: $alignHorizontal;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: $alignVertical;
  -ms-flex-align: $alignVertical;
}

a {
  color: $hrefColor;
  text-decoration: none;
}

a.active {
  color: $hrefActiveColor;
}

body {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  max-width: 1170px;
  margin: 0 auto;
  background: #fcfcfd;
}

.wrapper {
  max-width: $contentSize;
  margin: 0 auto;
  padding: 5px;
}

header {
  height: 80px;
  @include flex(center, space-around);
  background: #ffffff;
  position: relative;
  &:before {
    content: "";
    background: #ffffff url(../img/bg.jpg) 50% 0 no-repeat;
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: -160px;
    z-index: -1;
    left: 0;
  }
  &:after {
    content: "";
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -160px;
    z-index: -1;
    left: 0;
  }
}

nav {
  a + a {
    margin-left: 50px;
  }
}

.header-text.large {
  font-family: "Roboto Thin";
  font-size: 72px;
  margin-bottom: 70px;
}

.header-text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Roboto Light";
  font-size: 32px;
  font-weight: normal;
}

#profile {
  margin-top: 105px;
}

.text-center {
  text-align: center;
}

i {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/sprite.png);
}

i.profile {
  background-position: 0px 0px;
}
i.list {
  background-position: -50px 0px;
}
i.js {
  background-position: -100px 0px;
}
i.about {
  background-position: -151px 0px;
}

section i {
  margin: 0 auto;
}

.form-control input {
  height: 61px;
  border: 1px solid #c8c8c8;
}

.form-control {
  position: relative;
  margin-bottom: 25px;
}

.form-field {
  border: 1px solid #c8c8c8;
  font-family: inherit;
  width: 100%;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 21px;
  color: #1c1c1c;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 4px;
  text-align: center;
  padding-top: 20px;
  &::placeholder {
    color: transparent;
    font-size: 21px;
  }
  &:-ms-input-placeholder {
    color: #c8c8c8;
    font-size: 21px;
  }

  &::-ms-input-placeholder {
    color: #c8c8c8;
    font-size: 21px;
  }
  &:placeholder-shown ~ .form-label {
    font-size: 21px;
    cursor: text;
    top: 20px;
  }
}

textarea {
  border: 1px solid #c8c8c8;
  font-family: inherit;
  width: 100%;
  padding: 15px;
  outline: 0;
  font-size: 21px;
  color: #1c1c1c;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 4px;
  &::placeholder {
    color: #c8c8c8;
    font-size: 21px;
  }
  &:-ms-input-placeholder {
    color: #c8c8c8;
    font-size: 21px;
  }

  &::-ms-input-placeholder {
    color: #c8c8c8;
    font-size: 21px;
  }
}

button[type="submit"] {
  display: block;
  width: 118px;
  height: 51px;
  border: 0;
  background: #435993;
  color: #ffffff;
  font-family: "Roboto Light";
  border-radius: 4px;
  font-size: 16px;
}

#about {
  max-width: 515px;
  margin: 0 auto;
  button {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  textarea {
    height: 180px;
    resize: none;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .header-text {
    margin-bottom: 15px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  top: 5px;
  color: $gray;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.form-field:focus {
  ~ .form-label {
    position: absolute;
    top: 5px;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: $gray;
  }

  padding-bottom: 6px;
  border-width: 3px;
  border: 1px solid #5b68a3;
}
/* reset input */
.form-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

#profile form {
  max-width: 520px;
  margin: 0 auto;
}

.year-select {
  position: relative;
  border: 1px solid #c8c8c8;
  height: 61px;
  max-width: 320px;
  margin: 0 auto;
  .form-field:placeholder-shown ~ label:after {
    top: 0;
  }
  label {
    cursor: pointer;
    font-size: 21px;
    cursor: text;
    top: 20px;
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: #ccc;
      position: absolute;
      right: 20px;
      background: url(../img/sprite.png);
      background-position: -209px -24px;
      transition: 0.5s;
      top: 0;
    }
  }
  label.fill {
    color: #1c1c1c;
  }
}

.year-select ul {
  padding: 15px;
  display: none;

  li {
    padding: 5px;
    font-size: 18px;
  }
  box-shadow: 0px 4px 5px #ccc;
  border-radius: 4px;
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
}

.year-select.open {
  label {
    &:after {
      content: "";
      transform: rotate(-180deg);
      transition: 0.5s;
    }
  }
  ul {
    @include flex(center, center, column);
  }
}

.experience-list {
  font-family: "Roboto Light";
  @include flex(center, space-between);
}

.experience-list {
  li + li {
    margin-top: 15px;
  }
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox {
  position: relative;
}

.custom-checkbox {
  .check-box {
    display: block;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #1c1c1c;
    position: absolute;
    left: 0;
    top: -2px;
  }
  padding-left: 25px;
  &:hover {
    .check-box {
      background: #e9efff;
    }
  }
}

.custom-checkbox input {
  &:checked + .check-box {
    background: #435993 url(../img/sprite.png);
    background-position: -209px -4px;
  }
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  clear: both;
}

section#js {
  margin-top: 80px;
}

.range {
  margin-top: 80px;
}

p {
  font-family: "Roboto Light";
  line-height: 21px;
}

.progress-bar {
  background: #e8e8e8;
  position: relative;
  width: 100%;
  height: 25px;
}

.progress-bar {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background: #fcfcfd;
    width: 100%;
    height: 25px;
    z-index: 1;
    transform: rotate(-1deg);
  }
}

.tick {
  position: absolute;
  top: -40px;
  z-index: 1;
  max-width: 190px;
  font-size: 14px;
  font-family: "Roboto Light";
  line-height: 21px;
  @include flex(center, space-between);
  height: 35px;

  &:before {
    content: "";
    display: block;
    width: 1px;
    height: 13px;
    border-right: 1px dashed #ccc;
    position: absolute;
    bottom: -18px;
    left: -1px;
    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    border-right: 1px solid #fff;
    position: absolute;
    bottom: -31px;
    left: -1px;
  }
}

.progress-bar .tick.last {
  &:after,
  &:before {
    left: auto;
    right: -1px;
  }
  &:before {
    bottom: -11px;
    right: 0px;
  }
}

.progress-bar-value {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ccb1f1+0,435993+100 */
  background: rgb(204, 177, 241); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(204, 177, 241, 1) 0%, rgba(67, 89, 147, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(204, 177, 241, 1) 0%,
    rgba(67, 89, 147, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(204, 177, 241, 1) 0%,
    rgba(67, 89, 147, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb1f1', endColorstr='#435993',GradientType=1 ); /* IE6-9 */

  position: absolute;
  width: 50%;
  left: 1px;
  top: 0;
  height: 100%;
  &:before {
    content: "";
    display: block;
    width: 24px;
    height: 26px;
    position: absolute;
    background: url(../img/sprite.png);
    background-position: -241px -2px;
    right: -12px;
    z-index: 3;
    top: 30px;
  }
}

.open-menu {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}

.open-menu svg {
  width: 22px;
  overflow: visible;
  stroke-width: 2px;
  stroke: #000;
  height: 17px;
  padding-top: 0.5px;
}

.open-menu .tm1_close {
  display: none;
}

body.open .tm1_close {
  display: block;
}

body.open .open-menu svg {
  stroke: #000;
}

body.open .tm1_open {
  display: none;
}

@media (max-width: 768px) {
  .open-menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
    outline: none;
    z-index: 1;
  }
  header nav {
    position: relative;
    padding-left: 25px;
    padding-top: 25px;
    display: none;
  }
  body.open {
    header {
      nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: #f9f9f9;
        z-index: 1;
        padding: 0;
        justify-content: center;
        align-items: center;
        a {
          font-size: 32px;
        }

        a + a {
          margin-top: 21px;
          margin-left: 0;
        }
      }
    }
  }

  .experience-list {
    display: block;
    ul {
      float: left;
      width: 50%;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 500px) {
  .experience-list {
    display: block;
    ul {
      display: block;
      width: 100%;
    }
    ul + ul {
      margin-top: 15px;
    }
  }
  .tick-container {
    .tick {
      visibility: hidden;
    }
  }
}
